{
    "processors": [
    ],
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-prettier"
    ],
    "rules": {
        "block-closing-brace-newline-before": "always",
        "block-opening-brace-newline-after": "always",
        "block-no-empty": null
    },
    "ignoreFiles": []
}
